body{
    background-color: #d2954f;
    overflow: hidden;
}
#canvas {
    width: 100%;
    height: 550px; 
    border: 1px solid black;
    position: relative;
    overflow: hidden; /* предотвращает выход изображений за пределы канваса */
  }
  
  .item {
    width: 100px; 
    cursor: pointer;
  }
  
  button {
    margin-top: 10px;
    background-color: #f7af5d;
    width: 450px;
    margin-right: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-variant-caps: all-small-caps;
    font-size: 28px;

  }

  button:hover{
    background-color: #b67934;
    transform: scale(1.3);
  }
  